
body{
    overflow-x:hidden;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  .navbar{
      top: 0;
      height:80;
      right: 0;
      width: 100%;
      z-index: 1000;
      background-color: #121212; /* Set the background color */
      padding: 0.5rem 1rem;
      position:fixed;
  }
  .navbar-brand{
  color: silver;
  font-family: 'Georgia';
  font-size:4em;
  padding: 2.25rem 9rem;
  font-weight: bold;
  }
  .navbar-inverse .navbar-nav>li>a {
    color: #4682B4;
    font-weight:bold;
    font-size:1.5em;
    padding:3.25rem 2.5rem;
    height:10;
    right:30;
    border-radius: 10%;
    text-decoration: none;
    justify-content:center;
    align-items: center;
    display:flex;
  }
  .navbar-inverse .navbar-nav>li>a:hover {
    color: #36454F;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease;
  }
  #splash{
    background-image: url('home.jpg');
    background-size: cover;
    background-position: center;
    height: 115%;
    width:100%;
    margin-top:-6.8%;
    padding-top:20%;
    padding-right:0%;
    color: #fff;
    font-size: 4rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }
  
    #splash h1{
      font-size: 2em;
    }
  
    #splash a{
      color: #fff;
    }
  
    #splash a:hover{
      color: #a4a1a1;
    }
    #portf{
      background-image: url(portfolio.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      width:100%;
      height: 120%;
      color: #fff;
    }
    #portf h1{
      text-align:center;
      font-size: 5em;
      text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                   0px 8px 13px rgba(0,0,0,0.5),
                   0px 18px 23px rgba(0,0,0,0.1);
    }
    #cars{
      height:40%;
      width:60%;
      margin-left:10%;
    }
    .card-body{
      margin-left:0%;
    }
    .card-body h4{
      color:#2C75FF;
      font-weight:bolder;
      font-size:1.8vw;
      width:100%;
    }
    .card:hover {
      transform: scale(1.05); /* Increase size slightly on hover */
      transition: transform 0.2s ease-in-out; /* Smooth transition */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
    }
   #cars1{
    height:40%;
    width:60%;
    float:right;
    margin-right:10%;
   }
  
#cars3{
  height:40%;
  width:60%;
  margin-left:10%;
  padding-top:10%;
}
#cars4{
  height:40%;
  width:60%;
  float:right;
  margin-right:10%;
  padding-top:10%;
}
#about{
  background-image: url(about2.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
}

  #about h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

  #about p{
    font-size: 1.5em;
    text-align: justify;
  }

  #about img{
    padding: 10px;
    /*max-width: 180px;*/
  }

#white-bg{
  /*background-color: rgba(0,0,0, 0.5);
  border-radius: 20px;
  margin-right: 10px;*/
  float: left;
  display: inline-block;
  vertical-align: middle;
  padding: 6% 2%;
}
#contact{
  background-image: url(contact.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
}

  #contact h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

  #contact h2{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }
  #contact telephone{
    font-size: 0.5em;
    color: #fff;
  }

  #contact .fa-stack{
    color: #333;
  }

  #contact .fa-stack:hover .fa-stack-1x{
    color: #333;
    transition: 0.5s;
  }

  #contact .fa-stack:hover .fa-stack-2x{
    color: #fff;
    transition: 0.5s;
  }

  #contact a{
    text-decoration: none;
  }
@media (max-width: 767px) {
  .mobile-second-card {
      padding-top: 10%;
      float:left;
      padding-left:0%;
      margin-left:10%;   
  }
  #portf{
    width:160%;
    right:0%;
  }
  #pic{
    background-image:url('portfolio.jpg');
    background-color:#121212;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width:200%;
    left:0%;
    right:-10%;
    height: 130%;
    color: #fff;
  }
  #splash{
    background-image: url('home.jpg');
    background-size: cover;
    background-position: center;
    height: 115%;
    width:160%;
    margin-top:-6.8%;
    padding-top:20%;
    padding-right:0%;
    color: #fff;
    font-size: 4rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }
  #about{
    background-image: url(about2.jpg);
    width:250%;
    background-position: center;
    background-size: cover;
    margin-top:300%;
    height: 120%;
    color: #fff;
    
  }
  #about h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

  #about p{
    font-size: 1.5em;
    text-align: justify;
  }

  #about img{
    padding: 10px;
    max-width: 180px;
    margin-top:0%;
  }

#white-bg{
  /*background-color: rgba(0,0,0, 0.5);
  border-radius: 20px;
  margin-right: 10px;*/
  float: left;
  display: inline-block;
  vertical-align: middle;
  padding: 6% 2%;
}
#contact{
  background-image: url(contact.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width:250%;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
}
}
@media (max-width: 991px){
  .mobile-second-card {
      padding-top: 10%;
      float:left;
      padding-left:0%;
      margin-left:10%;
}
#pic{
  background-image:url('portfolio.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width:100%;
  height: 100%;
  color: #fff;
  
}
#splash{
  background-image: url('home.jpg');
    background-size: cover;
    background-position: center;
    height: 115%;
    width:250%;
    margin-top:-6.8%;
    padding-top:20%;
    padding-right:0%;
    color: #fff;
    font-size: 4rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }
#portf{
  background-image: url(portfolio.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width:250%;
  height: 120%;
  color: #fff;
}
#about{
  background-image: url(about2.jpg);
  width:250%;
  background-position:150px;
  background-size: cover;
  height: 120%;
  color: #fff;
  margin-top:200%;
  padding-top:0%;
  
}
#about h1{
  font-size: 5em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.1);
}

#about p{
  font-size: 2em;
  text-align: justify;
}

#about img{
  padding: 10px;
  max-width: 180px;
}

#white-bg{
/*background-color: rgba(0,0,0, 0.5);
border-radius: 20px;
margin-right: 10px;*/
float: left;
display: inline-block;
vertical-align: middle;
padding: 6% 2%;
}
#contact{
  background-image: url(contact.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width:250%;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
}
}
   
   